# Cabal
dist-newstyle/
dist/
cabal.project.local
cabal.project.local~
.cabal-sandbox/
cabal.sandbox.config

# Stack
.stack-work/
stack*.yaml.lock

# GHC
*.hi
*.o
*.dyn_hi
*.dyn_o
*.chi
*.chs.h
*.hp
*.prof
*.aux
*.eventlog

# Editor
*~
*.swp
*.swo
\#*\#
.#*
.dir-locals.el
TAGS
tags

# OS
.DS_Store
Thumbs.db
